@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

<div class="row">
    <h1>Chat</h1>
    @Html.ActionLink("[back]", "Index", "Home")
    <hr />
    <div class="container">
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <label for="displayname">Name</label>
                    <input type="text" class="form-control" id="displayname" value="@User.Identity.GetUserName()">
                </div>
                <div class="form-group">
                    <label for="displayname">User ID From</label>
                    <input type="text" class="form-control" id="useridfrom" value="@User.Identity.GetUserId()">
                </div>
                <div class="form-group">
                    <label for="displayname">User ID To</label>
                    <input type="text" class="form-control" id="useridto" value="">
                </div>
                <div class="form-group">
                    <label for="displayname">Token</label>
                    <input type="text" class="form-control" id="token" value="">
                </div>
                <hr />
                <div class="container" id="discussion" style="overflow:auto; max-height:400px;">
                    <!-- Miejsce na wiadomości -->
                </div>
                <hr />
                <input type="email" class="form-control" id="message" placeholder="Type here">
                <button type="submit" class="btn btn-default" id="sendmessage">Send</button>
            </form>
        </div>
        <div class="col-md-4">
            <h1>Kontakty</h1>
            <ul class="nav" style="overflow:auto; max-height:400px;">
                <li role="presentation">
                    <a href="#">Kontakt 1</a>
                </li>
                <li role="presentation">
                    <a href="#">Kontakt 2</a>
                </li>
            </ul>
        </div>
    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chatHub;
            $('#message').focus();

            chat.client.broadcastMessage = function (name, message,sendedTime) {
                $('#discussion').append('<dl><dt>' + name
                    + '(Sended ' + sendedTime + ')</dt><dd>' + message + '</dd></dl>');
            };

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function (event) {
                    event.preventDefault();

                    var message = $('#message').val();
                    var userIdTo = $('#useridto').val();
                    var userIdFrom = $('#useridfrom').val();
                    var token = $('#token').val()

                    chat.server.send(message,
                                     userIdTo,
                                     userIdFrom,
                                     token);
                    $('#message').val('').focus();
                });
            });
        });
    </script>
</div>